.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: baseline;
  padding: 1em;
}

.box {
  display: flex;
  flex-direction: column;
  place-items: center;
  border: 1px solid #444;
  gap: 0.5em;
  align-items: stretch;
  padding: 4px;
}

.input {
  // border: 1px solid red;
}

.description {
  font-size: 12px;
  border: 1px solid #444;
  overflow-y: auto;
  max-width: 400px;
  max-height: 232px;
}

.button {
  // all: unset;
  background-color: #99ff99;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
